body {
    background: #292929;
}

p, a, h1, h2, h3, h4, h5, h6, span, li, label {
    color: #ffffff;
}

hr {
    background-color: #444444;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #686868 !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #686868 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #686868 !important;
}

a:hover {
    color: #bdbdbd;
}

.mm-spn.mm-spn--light {
    background: #272727 !important;
}

.mm-spn a, .mm-spn span {
    color: white;
}

#menu-icon span {
    background: #4d4d4d;
}

.text-dark {
    color: #fff !important;
}

.bg-white {
    background: #333333 !important;
}

.header-background-one img {
    opacity: .2;
}

* {
    box-shadow: none !important;
}

*:hover {
    box-shadow: none !important;
}

header {
    background: #2E2E2E ;
    box-shadow: none;
}

header .nav-item a {
    color: #dbdbdb !important;
}

header .dropdown .dropdown-menu {
    background: #2E2E2E !important;
    box-shadow: none;
}

.dropdown-item:hover {
    background: #333333;
}


#preloader {
    background: #242424 !important;
}

.image-up-down {
    opacity: 0.6 !important;
}

.services-svg-image {
    opacity: .02 !important;
}

/* Blog style */
.blog-item {
    background: #363636;
    box-shadow: none !important;
}

/* Contact us style */
.section-contact-us {
    background-image: url('../../img/backgrounds/map-dark.png');
}



/* header hovers */
.megamenu>a::before {
    background: #d1d1d1;
}


.megamenu:hover>a {
    color: #c0c0c0 !important;
    background: #444444;
}

.hover-bottom-line::before {
    background: #d1d1d1;
}

.hover-bottom-line:hover {
    color: #c0c0c0 !important;
    background: #444444;
}


/* Comments section */
.comments-div {
    background: #363636;
}

.comments-modal {
    background: #363636;
}




/* Cutsome scrollbars */
*,
.search-page {
    scrollbar-width: thin;
    scrollbar-color: #242424 #313131;
}

*::-webkit-scrollbar,
.search-page::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track,
.search-page::-webkit-scrollbar-track {
    background: #242424;
}

*::-webkit-scrollbar-thumb,
.search-page::-webkit-scrollbar-thumb {
    background-color: #313131;
    border: 1px solid #242424;
}


.services-card {
    background: #363636;
}


/* Projects style and filter style */
#ProjectsBtnContainer .btn {
    border: 1px solid #1F1F1F;
    color: #a5a5a5;
    background-color: #2E2E2E;
}

#ProjectsBtnContainer .btn:hover {
    background: #1F1F1F;
    color: #a5a5a5;
}

#ProjectsBtnContainer .btn.projects-btn-active {
    background: #1F1F1F;
    color: #fff;
}

.filter-projects-item {
    background: #363636;
}

.shape-bg-projects {
    opacity: .1;
}


.filter-projects-item .hover-on-projects-content .projects-content-btn-link .logo-link {
    color: #44d7b6;
    background: #383838;
}


.card-pricing {
    background: #363636;
}



/* btn */
.login-register-button {
    border: solid 1px #505050;
    color: #999999;
}

.login-register-button::before,
.login-register-button::after {
    background: #505050;
}

.login-register-button:hover {
    color: #e9e9e9;
    box-shadow: none;
}


/* Custom text colors */
.text-blue-gray {
    color: #97a4bd !important;
}

.text-white-black {
    color: #303030 !important;
}


/* Scroll to top button */
.scroll-to-top {
    background: #202020;
}

.scroll-to-top i {
    color: #677592;
}

.scroll-to-top:hover i {
    color: #677592;
}

.scroll-to-top:hover {
    background: #1F1F1F;
}

.section-errors img{
    opacity: .2;
}
































input:checked+.slider {
    background: #414141;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
input:checked+.slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background: #242424 url('../../img/theme-toggle-icons/dark-toggle-icon.png');
    background-repeat: no-repeat;
    background-position: center;
}



.search-box {
    background-color: #202020;
}

.search-box input {
    background-color: #202020;
    color: white !important;
}

.search-box input:focus {
    background-color: #202020;
}

.search-box button {
    color: white;
}

.search-box button:hover {
    color: white;
}



.pagination .page-item a {
    color: #C3D0D9;
    background-color: #1F1F1F;
}

.pagination .page-item.disabled a {
    color: #4b4b4b;
}



.sidbar-item-link.tag {
    background-color: #333333;
}

.sidbar-item-link.tag:hover {
    background-color: #303030;
}


blockquote{
    color: #a5a5a5;
    border-right: 10px solid #9292FF;
    border-left: 2px solid #9292FF;
    background:#1F1F1F;
}

blockquote::before{
    color:#9292FF;
}



.blog-comments .item {
    background-color: #333333;
}


#commentMassage {
    background-color: #333333;
    color: #fff;
}



.login-register {
    background-color: #333333;
}

.login-register input {
    background-color: #2E2E2E;
    color: #9292FF !important;
    border: solid 1px #292929 !important;
}

.login-register input:focus {
    background-color: #2E2E2E;
    border: solid 1px #9292FF !important;
}

.login-register .google-icon {
    border: solid 2px #292929;
}

.login-register .link {
    color: #9292FF;
}




.contact-us-item-card {
    background: #363636;
}

.contact-us-item-card .contact-image-item {
    background-color: #444444;
}


.Contact-us-form input,
.Contact-us-form textarea {
    background-color: #2E2E2E;
    color: #9292FF !important;
    border: solid 1px #1F1F1F !important;
}

.Contact-us-form input:focus,
.Contact-us-form textarea:focus {
    background-color: #2E2E2E;
    border: solid 1px #9292FF !important;
}




.item-card {
    background-color: #292929;
    border: solid 1px #363636;
}

.item-card:hover {
    background-color: #363636;
    border: solid 1px #363636;
}



.faq-container .card-header a {
    color: #9292FF;
}

.faq-container .card-header a:hover {
    color: #A5A5F6;
}

.faq-container .card {
    background-color: #262626;
    border: solid 1px #363636;
}


.faq-container .card:hover {
    border: solid 1px #343434;
    background-color: #343434;
}


.projects-text a {
    color: #9292FF;
    background-color: #363636;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 0 10px;
}
.blog-text a {
    color: #9292FF;
    background-color: #363636;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 0 10px;
}
