/*
IRAN Sans-serif fonts are considered a proprietary software.
To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (...)
--------------------------------------------------------------------------------------
*/



/********** Import Fonts **********/
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdnlight.eot);
    src: url(../../fonts/ttf/iransansdnlight.ttf) format('truetype'),
         url(../../fonts/woff/iransansdnlight.woff) format('woff'),
         url(../../fonts/svg/iransansdnlight.svg) format('svg'),
         url(../../fonts/woff2/iransansdnlight.woff2) format('woff2');
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdn.eot);
    src: url(../../fonts/ttf/iransansdn.ttf) format('truetype'),
         url(../../fonts/woff/iransansdn.woff) format('woff'),
         url(../../fonts/svg/iransansdn.svg) format('svg'),
         url(../../fonts/woff2/iransansdn.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdnbold.eot);
    src: url(../../fonts/ttf/iransansdnbold.ttf) format('truetype'),
         url(../../fonts/woff/iransansdnbold.woff) format('woff'),
         url(../../fonts/svg/iransansdnbold.svg) format('svg'),
         url(../../fonts/woff2/iransansdnbold.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
