/*
IRAN Sans-serif fonts are considered a proprietary software.
To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (...)
--------------------------------------------------------------------------------------
*/



/********** Import Fonts **********/
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdnweblight.eot);
    src: url(../../fonts/ttf/iransansdnweblight.ttf) format('truetype'),
         url(../../fonts/woff/iransansdnweblight.woff) format('woff'),
         url(../../fonts/woff2/iransansdnweblight.woff2) format('woff2');
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdnweb.eot);
    src: url(../../fonts/ttf/iransansdnweb.ttf) format('truetype'),
         url(../../fonts/woff/iransansdnweb.woff) format('woff'),
         url(../../fonts/woff2/iransansdnweb.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'IranSans';
    src: url(../../fonts/eot/iransansdnwebbold.eot);
    src: url(../../fonts/ttf/iransansdnwebbold.ttf) format('truetype'),
         url(../../fonts/woff/iransansdnwebbold.woff) format('woff'),
         url(../../fonts/woff2/iransansdnwebbold.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
