.mm-ocd__backdrop {
    left: 0;
    right: 270px !important;
}



.mm-spn li:before {
    right: auto !important;
    left: calc(var(--mm-spn-item-height)/ 2);
    -webkit-transform: rotate(-135deg) translate(0, 50%) !important;
    -ms-transform: rotate(-135deg) translate(0, 50%) !important;
    transform: rotate(-135deg) translate(0, 50%) !important;
}

.mm-spn li:after {
    margin-right: var(--mm-spn-item-indent);
}



#menu-icon {
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#menu-icon span {
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}